---
const {
    title,
    description,
    footer,
    inputs,
    buttonText,
    buttonId,
    onButtonClick,
} = Astro.props;
---

<div class="bg-transparent w-full max-w-96 p-8 rounded-2xl">
    <h1 class="text-xl mb-1 text-center opacity-80">{title}</h1>
    <p class="text-xs mb-5 opacity-60 text-center">{description}</p>

    <form method="post" id={buttonId + "Form"}>
        {
            inputs.map((input: any) => (
                <div class="mb-5 relative">
                    <label for={input.id} class="block text-sm mb-2 opacity-80">
                        {input.label}
                    </label>
                    <input
                        id={input.id}
                        name={input.name}
                        type={input.type}
                        placeholder={input.placeholder}
                        required={input.required ?? true}
                        autocomplete={input.autocomplete ?? "off"}
                        class="w-full rounded border border-zinc-400 text-md outline-0 p-3 pr-12"
                    />
                    {input.togglePassword && (
                        <button
                            type="button"
                            id={"toggle" + input.id}
                            class="absolute right-3 top-10.5 opacity-60 hover:opacity-90 transition cursor-pointer"
                            aria-label="Toggle password visibility"
                        >
                            👁️
                        </button>
                    )}
                </div>
            ))
        }
        <button
            type="button"
            disabled
            id={buttonId}
            onclick={onButtonClick}
            class="w-full mt-2 p-3 rounded txt_bg_clr text-white text-lg cursor-pointer font-semibold border border-zinc-400"
        >
            {buttonText}
        </button>
    </form>

    <p class="text-xs mb-5 opacity-60 text-center mt-5">{footer}</p>
</div>
