---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter, prevPost, nextPost } = Astro.props;
const publishedDate = new Date(frontmatter.pubDate);
---

<BaseLayout pageTitle={`Post | ${frontmatter.title}`}>
  <div class="flex flex-col items-center p-5 xl:p-30 lg:p-30 md:p-20 sm:p-20">
    <span
      class="txt_clr text-2xl xl:text-4xl lg:text-3xl md:text-3xl sm:text-3xl"
    >
      {frontmatter.title}
    </span>
    <div
      class="flex justify-center items-center gap-2 text-sm italic mt-5 opacity-80"
    >
      <img src="/calender.png" class="h-7 w-7" />
      <span>
        {
          publishedDate.toLocaleDateString("en-GB", {
            day: "numeric",
            month: "short",
            year: "numeric",
          })
        }
      </span>
    </div>
    <div
      class="flex justify-center items-center gap-2 text-sm italic mt-3 opacity-80"
    >
      <img src="/location.png" class="h-7 w-7" />
      {frontmatter.location}
    </div>
    <div class="flex justify-center items-center gap-2 text-sm mt-3 opacity-80">
      <img src="/tag.png" class="h-6 w-6 scale-x-[-1]" />
      {
        frontmatter.tags.map((tag: string) => (
          <a href={`/tags/${tag}`} class="border rounded px-2 tag_button py-1">
            {tag}
          </a>
        ))
      }
    </div>
    <span class="mt-6">--- * ---</span>
    <span class="text-sm italic opacity-80">
      <em>{frontmatter.tagline}</em>
    </span>
    <span>--- * ---</span>
    <p class="text-sm opacity-80 mt-8 text-center max-w-2xl">
      {frontmatter.description}
    </p>
    <div class="flex flex-col gap-16 mt-14 w-full items-center">
      {
        frontmatter.stories.map(
          (item: any) => (
            <figure class="flex flex-col items-center gap-4 max-w-3xl">
              <img src={item.imageUrl} alt={item.imageUrl} class="w-227.5" />

              <figcaption class="text-sm italic opacity-80 text-center">
                <div class="flex justify-center items-center">
                  📍<span class="block font-semibold">{item.location}</span>
                </div>
                <span>{item.description}</span>
              </figcaption>
            </figure>
          ),
        )
      }
    </div>
    <div class="flex justify-between gap-4 mt-12 max-w-3xl w-full">
      {
        prevPost && (
          <a
            href={`/posts/${prevPost.id}`}
            class="px-4 py-2 rounded shadow border border-zinc-700 text-zinc-700 bg-transparent"
          >
            ← {prevPost.data.title}
          </a>
        )
      }

      {
        nextPost && (
          <a
            href={`/posts/${nextPost.id}`}
            class="ml-auto px-4 py-2 rounded shadow border border-zinc-700 text-zinc-700 bg-transparent"
          >
            {nextPost.data.title} →
          </a>
        )
      }
    </div>
  </div>
</BaseLayout>

<style>
  figure img {
    width: calc(var(--spacing) * 227.5);
  }
</style>
