---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={`Post | ${frontmatter.title}`}>
  <div class="flex flex-col items-center p-5 xl:p-30 lg:p-30 md:p-20 sm:p-20">
    <span
      class="txt_clr text-2xl xl:text-4xl lg:text-3xl md:text-3xl sm:text-3xl"
      >{frontmatter.title}</span
    >

    <div
      class="flex justify-center items-center gap-2 text-sm italic mt-5 opacity-80"
    >
      <img src="/calender.png" class="h-7 w-7" />
      <span
        >{
          frontmatter.pubDate.toLocaleDateString("en-GB", {
            day: "numeric",
            month: "short",
            year: "numeric",
          })
        }</span
      >
    </div>
    <div
      class="flex justify-center items-center gap-2 text-sm italic mt-3 opacity-80"
    >
      <img src="/location.png" class="h-7 w-7" />
      {frontmatter.location}
    </div>
    <div
      class="flex justify-center items-center gap-2 text-sm italic mt-3 opacity-80"
    >
      <img src="/tag.png" class="h-6 w-6 scale-x-[-1]" />
      {
        frontmatter.tags.map((tag: string) => (
          <span class="border rounded px-2 tag_button">
            <a href={`/tags/${tag}`}>{tag}</a>
          </span>
        ))
      }
    </div>
    <span class="mt-6">--- * ---</span>
    <span class="text-sm italic opacity-80"
      ><em>
        {frontmatter.tagline}
      </em>
    </span>
    <span class="">--- * ---</span>
    <p class="text-sm opacity-80 mt-8">{frontmatter.description}</p>
    <figure>
      <img
        src={frontmatter.image.url}
        class="mt-8 w-227.5"
        alt={frontmatter.image.alt}
      />
    </figure>
  </div>
</BaseLayout>
<style>
  figure {
    --c: 50px;
    --p: 30px;
    --d: 10px;
    background: red;
    display: inline-block;
    padding: var(--p);
    background:
      radial-gradient(farthest-side at 0 0, #000, #0000) 0 0 / var(--c) var(--c),
      radial-gradient(farthest-side at 100% 100%, #000, #0000) 100% 100% /
        var(--c) var(--c),
      linear-gradient(#fff 0 0) 50% 50% / calc(100% - var(--p))
        calc(100% - var(--p)),
      linear-gradient(#0000, #000 25% 75%, #0000) 50% 50% /
        calc(100% - var(--p)) calc(100% - var(--d)),
      linear-gradient(90deg, #0000, #000 25% 75%, #0000) 50% 50% /
        calc(100% - var(--d)) calc(100% - var(--p)),
      radial-gradient(farthest-side at 0 100%, #00000018, #0000)
        calc(100% - var(--d) * 0.5) calc(var(--d) * 0.5) / var(--d) var(--d),
      radial-gradient(farthest-side at 100% 0, #00000018, #0000)
        calc(var(--d) * 0.5) calc(100% - var(--d) * 0.5) / var(--d) var(--d);
    background-repeat: no-repeat;
    clip-path: polygon(
      0 var(--c),
      var(--c) 0,
      100% 0,
      100% calc(100% - var(--c)),
      calc(100% - var(--c)) 100%,
      0 100%
    );
  }

  figure:nth-of-type(1) img {
    width: calc(var(--spacing) * 227.5);
  }
</style>
