---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={`Post | ${frontmatter.title}`}>
  <div class="flex flex-col items-center p-5 xl:p-30 lg:p-30 md:p-20 sm:p-20">
    <span
      class="txt_clr text-2xl xl:text-4xl lg:text-3xl md:text-3xl sm:text-3xl"
    >
      {frontmatter.title}
    </span>
    <div
      class="flex justify-center items-center gap-2 text-sm italic mt-5 opacity-80"
    >
      <img src="/calender.png" class="h-7 w-7" />
      <span>
        {frontmatter.pubDate}
      </span>
    </div>
    <div
      class="flex justify-center items-center gap-2 text-sm italic mt-3 opacity-80"
    >
      <img src="/location.png" class="h-7 w-7" />
      {frontmatter.location}
    </div>
    <div class="flex justify-center items-center gap-2 text-sm mt-5 opacity-80">
      <img src="/tag.png" class="h-6 w-6 scale-x-[-1]" />
      {
        frontmatter.tags.map((tag: string) => (
          <a href={`/tags/${tag}`} class="border rounded px-2 tag_button py-1">
            {tag}
          </a>
        ))
      }
    </div>
    <span class="mt-5">--- * ---</span>
    <span class="text-md italic opacity-80 font-bold">
      <em>{frontmatter.tagline}</em>
    </span>
    <span class="mb-5">--- * ---</span>
    <slot />
  </div>
</BaseLayout>
